.form{
    height: 400px;
    width: 500px;
    border: 2px solid #353434;
    border-radius: 16px;
    margin-bottom: 50px;
}

.form__head{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

.item{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.item__title{
    height: 20px;
    margin: auto 0;
}

.item__body{
    width: 280px;
    border-radius: 5px;
    padding: 3px;
    border: 1px solid silver;
}

.textarea{
    height: 100px;
    resize: none;
}

.form__handler{
    background: url("../assets/send.png");
    height: 32px;
    width: 32px;
    border: none;
    margin-top: 4px;
    margin-left: 454px;
}


@media screen and (max-width: 1100px) {
    .form{
        width: 400px;
    }

    .item__title{
        width: 150px;
    }

    .item__body{
        width: 200px;
    }

    .form__handler{
        margin-left: 354px;
    }
}

@media screen and (max-width: 400px) {
    .form{
        width: 340px;
        height: 360px
    }

    .item__title{
        width: 100px;
    }

    .item__body{
        width: 200px;
    }

    .textarea{
        height: 80px;
    }

    .form__handler{
        margin-left: 294px;
    }
}

